﻿@model IEnumerable<CRM.Models.TipoCliente>

@{
    ViewBag.Title = "Indice";
}

<h2>Indice</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TipoClienteId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.TipoClienteId })
        </td>
    </tr>
}

</table>
