﻿@model CRM.Models.Telefono

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Telefono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroTelefonico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTelefonico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Principal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TelefonoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
