﻿@model CRM.Models.BusquedaClienteModelView

@{
    ViewBag.Title = "Indice";
}

<h2>Indice</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-default" })
</p>
@using (Ajax.BeginForm("BuscaNombre", "Clientes", null,
    new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "ajaxtarget",
        LoadingElementId = "image_loading",
        InsertionMode = InsertionMode.Replace
    }, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(t => t.NombreBuscar, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.NombreBuscar, new { @style = "width: 400px" })
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" class="btn btn-default" value="Buscar"/>
            </div>
        </div>
    </div>
}
<div class="container">
    <img id="image_loading" src="~/imgs/loading.gif" class="loadercentrado" width="30" height="30" style="display:none" />
</div>
<div id="ajaxtarget"></div>